/* Dropdowns and Input container */
.dropdowns-and-input-container {
  position: fixed;
  left: 50%;
  margin-left: -255px;
  bottom: 90px;
  z-index: 1000;
  width: 560px;
  // padding: 15px 0px;
  // background: #333;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  select,
  input {
    height: 35px;
  }

  .prompts-tips {
    display: inline-block;
    background-color: #d9d9e3;
    border-radius: 4px;
    color: #333;
    padding: 4px 8px;
    max-width: 560px;
    // margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.dropdown-container-wrap {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.dropdown-container-wrap div {
  flex-direction: 1;
}

/* Dropdown container */
.dropdown-container {
  // float: left;
  // display: flex;
  // align-items: center;
  margin-bottom: 10px;
}

/* Dropdown label */
.dropdown-label {
  margin-right: 10px;
  font-weight: bold;
}

/* Dropdown select */
.dropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 14px;
}

/* Input container */
.input-container {
  width: 800px;
  align-items: center;
}

.prompts_tips {
  position: relative;
  display: inline-block;
  padding: 2px 5px;
  padding-right: 30px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.prompts_tips_close::before,
.prompts_tips_close::after {
  cursor: pointer;
  content: ' ';
  position: absolute;
  top: 50%;
  right: 0px;
  width: 14px;
  height: 2px;
  background-color: #fff;
  ;
  transform: translate(-50%, -50%) rotate(45deg);
}

.prompts_tips_close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Input label */
.input-label {
  margin-left: 20px;
  margin-right: 5px;
}

/* Input */
select {
  padding: 10px;
  width: 130px;
}

//上面是一行内容的时候，当有两行的内容时候